body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

#content {
  flex-grow: 1;
  padding: 20px 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar {
  background-color: rgb(10,25,41);
}

.Navbar .Button {
  background-color: rgb(10,25,41);
  border: none;
}

.PageName {
  margin-bottom: 30px;
  text-align: start;
}

.CreateCVCont {
  justify-content: flex-end;
  display: flex;
  margin: 0px 30px 20px 0px;
}

.CreateCV {
  color: rgb(10, 25, 41);
  border: 2px solid rgb(10, 25, 41);
  border-radius: 10px;
  padding: 5px 8px;
  transition: background-color 0.3s ease-in-out; /* Add a transition for smooth color change */
}

.CreateCV:hover {
  color: white;
  background-color: rgb(10, 25, 41); /* Change the background color to red on hover */
}

.cv-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fff;
  text-align: left;
}

.section-heading {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.section {
  margin-top: 5px;
  border-top: 2px solid black;
}

.personal-info {
  display: flex;
  flex-direction: row;
}

.personal-info p {
  margin-right: 5px; /* Adjust margin as needed */
}

p {
  margin-bottom: 0px;
}

.period-section {
  justify-content: space-between;
  display: flex;
}